{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Restablecer contrase&ntilde;a{% endblock %}

{% block content %}
<p>
¿Olvid&oacute; su contrase&ntilde;a? Ingrese su correo electr&oacute;nico en el siguiente formulario y le enviaremos las instrucciones para establecer una nueva.
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Restablecer contrase&ntilde;a" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
