<!DOCTYPE html>
<html lang="es">
<head>
    <title> Sistema Administrador de Proyectos | {% block title %} Inicio {% endblock %}</title>
</head>
<body>
    <div id="header">
        {% if user.is_authenticated %}
            <p>Bienvenido, <b>{{ user.username }}</b> <a href="{% url "logout" %}"> Salir </a></p>
        {% else %}
            <p>Bienvenido. Por favor <a href="{% url "login" %}"> inicie sesión </a></p>
        {% endif %}
        <h1>Sistema Administrador de Proyectos</h1>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

