{% extends "base.html" %}

{% block title %} <div align=center> Perfil del usuario </div> {% endblock %}

{% block content %}
<p>
<a href="{% url 'profile' %}">Inicio</a> / 
<a href="{% url 'listar_rol' %}">Roles</a> /
{{ usuario.username }}
</p>

    <p> <b>Usuario:</b>       {{ usuario.username }} </p>
    <p> <b>Nombres:</b>       {{ usuario.first_name }} </p>
    <p> <b>Apellidos:</b>     {{ usuario.last_name }} </p>
    <p> <b>e-mail:</b>        {{ usuario.email }} </p>
    <p> <b>Fecha de alta:</b> {{ usuario.date_joined }} </p>
    <p> <b>&Uacute;ltimo acceso:</b> {{ usuario.last_login }} </p>
    <p> <b>Roles y Permisos:</b> </p>

    {% for grupo in usuario.groups.all %}
        <dl><ul>
            <dt><li type="disc">{{ grupo }}</li></dt>
            {% for permiso in grupo.permissions.all %}
                <dd><li type="circle"> {{permiso.name }}</li></dd>
            {% endfor %}
        </ul></dl>
    {% endfor%}

{% endblock %}

