{% extends 'base.html' %}
{% load static %}

{% block title %}<div align=center> Roles </div>{% endblock %}

{% block content %}
<p>
<a href="{% url 'profile' %}">Inicio</a> / Roles
</p>
<div align=center>
    <a href="{% url 'crear_rol' %}">Crear un nuevo rol</a>
    <table class="table table-striped">
        <tr>
            <th>Rol</th>
            <th colspan="2">Acciones</th>
        </tr>

        {% for group in object_list %}
        <tr>
            <td><a href="{% url 'rol_detalle' group.id %}"> {{ group.name}} </a></td>
            <td><a href="{% url 'modificar_rol' group.id %}"> Modificar</a></td>
            <td><a href="{% url 'eliminar_rol' group.id %}"> Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
